*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgb(101, 12, 101);
}

.container{
    width:400px;
    height:500px;
    background:#fff;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    position:relative;
    overflow:hidden;
}

.form-box{
    width:100%;
    height:100%;
    position:relative;
}

.button-box{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow:0 0 20px 9px #ff61241f;
    border-radius:30px;
}

.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
    font-weight:bold;
}

#btn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background:rgb(101, 12, 101);
    border-radius:30px;
    transition:.5s;
}

.input-group{
    top:150px;
    position:absolute;
    width:280px;
    transition:.5s;
}

.input-field{
    width:100%;
    padding:10px 0;
    margin:10px 0;
    border:none;
    border-bottom:1px solid #999;
    outline:none;
}

.submit-btn{
    width:100%;
    padding:10px;
    cursor:pointer;
    display:block;
    margin:20px auto;
    background: rgb(101, 12, 101);
    border:none;
    border-radius:30px;
    color:#fff;
    font-weight:bold;
}

#login{
    left:50px;
}

#register{
    left:450px;
}